<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <script async type="module" src="/js/script.mjs"></script>
</head>

<body>
    <web-component uri="/navbar"></web-component>
    <main>
        <header>
            <web-component uri="/search"></web-component>
        </header>
        <section style="text-align: center;">
            <h1>404</h1>
            <h2>No Disponible</h2>
            <h3><a href="/home">Portada</a></h3>
        </section>
        <footer>&copy; 2023</footer>
    </main>
</body>

</html>